.about {
  padding-top: 50px;
  background-color: $main-bg;
  &__text {
    max-width: 375px;
    margin: 0 auto;

    font-family: $secondfont;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 78px;

    h2 {
      margin-bottom: 50px;
    }
    &__text {
      max-width: 1000px;

      font-size: 25px;
      line-height: 33px;
    }
  }
}
