.page-footer {
  padding: 55px 25px;

  background-color: $accent;

  &__slogan {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    text-align: center;

    color: #ffffff;
  }
}

.footer-wrapper {
  padding: 35px 0;

  border-bottom: 1px solid #b5b1ad;
  border-top: 1px solid #b5b1ad;
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  p,
  a {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #dcd8d3;
  }
  a {
    text-decoration: underline;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    li + li {
      margin-left: 0;
    }
    li {
      margin-bottom: 14px;
    }
    a {
      font-size: 18px;
    }
  }
}
