.request-modal {
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;

  color: #2c2c2c;
  background-color: $main-bg;

  .modal-header {
    margin-top: 50px;
    border: none;
  }

  form {
    margin-top: 30px;
  }

  button {
    color: #a29f9c;
  }

  @include media-breakpoint-up(xl) {
    .modal-header {
      margin-top: 70px;
      padding-left: 50px;
      padding-right: 50px;

      p {
        margin: 0;
      }
    }
    .modal-body {
      padding-left: 50px;
      padding-right: 50px;
    }

    .button {
      margin: 0;
      margin-bottom: 70px;
    }
  }
}

.request-big-form {
  padding: 44px 15px;

  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #a29f9c;

  p {
    margin-bottom: 20px;
    color: #2c2c2c;
    font-size: 19px;
    line-height: 26px;
    font-weight: 700;
  }

  button {
    color: #a29f9c;
  }
  &__bg {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    padding: 0;

    form {
      width: 50%;
      padding: 44px 70px;
    }
    &__bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;

      background: #adcec8;
    }

    .button {
      margin: 0;
    }
  }

  @include media-breakpoint-up(xxl) {
    form {
      padding: 100px 140px;

      p {
        font-size: 24px;
      }
    }
  }
}
